@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Itaquaquecetuba - SP<br />
    Tel: 11 96598-3294
</address>

<address>
    <strong>Email:</strong> <a href="mailto:cleison.nunes20@gmail.com">cleison.nunes20@gmail.com</a><br />
</address>
